### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [3]:
## Declaring And Assigning Variables
a = 100
age = 30
height = 5.8
name = "joy"
is_student = True

In [4]:
## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 30
Height: 5.8
Name: joy

In [5]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name = "sujoy"
last_name = "deb"

In [6]:
2age=30

SyntaxError: invalid decimal literal (3512479521.py, line 2)

In [7]:
# Invalid variable names

#first-name="sujoy"
@name="deb"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (636934177.py, line 4)

In [8]:
## case sensitivity
name="joy"
Name="deb"

In [9]:
name == Name

False

In [10]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age = 24 # int
height = 5.8 # float
name = "joy"
is_student = True
print(type(name))

<class 'str'>

In [11]:
## Type Checking and Conversion

type(height)

float

In [15]:
age = 25
print(type(age))

<class 'int'>

In [16]:
# Type conversion
age_str = str(age)
print(age)
print(type(age_str))

25
<class 'str'>

In [17]:
age='25'
print(type(int(age)))

<class 'int'>

In [18]:
name="sujoy"
int(name)

ValueError: invalid literal for int() with base 10: 'sujoy'

In [19]:
height=5.8
type(height)

float

In [20]:
float(int(height))

5.0

In [22]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var = 10 # int
print(var, type(var))

var = "HELLO"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
HELLO <class 'str'>
3.14 <class 'float'>

In [2]:
## input
age = int(input("what is your age"))
print(age, type(age))

23 <class 'int'>

In [ ]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter first number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1/ num2