#### Tuples
A tuple is a collection of values that can be of any data type, including strings, integers,
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [2]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [1]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
## Accessing Tuple Elements
print(numbers[2])
print(numbers[-1])

3
6

In [7]:
numbers[:4]

(1, 2, 3, 4)

In [8]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [9]:
## Tuple Operations
concatenation_tuple = numbers + mixed_tuple
concatenation_tuple

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [10]:
type(concatenation_tuple)

tuple

In [11]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="sujoy deb"
print(lst)

[1, 2, 3, 4, 5]
[1, 'sujoy deb', 3, 4, 5]

In [13]:
numbers[1]="sujoy joy deb"

TypeError: 'tuple' object does not support item assignment

In [14]:
## Tuple Methods
numbers.count(1)

1

In [15]:
numbers.count(3)

1

In [16]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [17]:
##unpacking a tuple
a,b,c=packed_tuple

In [18]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first, *mid, last = numbers

In [19]:
first

1

In [20]:
mid

[2, 3, 4, 5]

In [21]:
last

6

In [22]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [23]:
lst[2][-2]

3.14

In [25]:
lst[1][-2:]

[8, 9]

In [26]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple

nested_tuple[0]

(1, 2, 3)

In [27]:
nested_tuple[1][2:]

('c',)

In [31]:
# iterating over nested tuples
for row in nested_tuple:
    for item in row:
        print(item, end=" ")
    print()  # print a newline after each row

1 2 3
a b c
True False

#### Conclusion

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.